.appBar {
  height: 2rem;
  width: 2rem;
  margin: 0.2rem 1rem 0.2rem 1rem;
}

.init {
  flex: 2;
  margin: 2rem;
  height: 5rem;
  width: 5rem;
}

@media only screen and (min-width: 600px) {
  .appBar {
    margin: 0.5rem 1rem;
    height: 3rem;
    width: 3rem;
  }
  .init {
    flex: 1;
    margin: 2rem 1rem;
  }
}
